.Head {
    width: 100%;
    height: 5rem;
    background-color: #09c;
}
.Head > h1 {
    line-height: 5rem;
    color: white;
    width: 25rem;
}
.LinkBar {
    position: absolute;
    right: 2rem;
    top: 2rem;
}
.LinkBar > a {
    display: inline-block;
    margin-left: 1rem;
    color: white;
}
.LinkBar > a:active {
    color: blue;
}