.Other {
    width: 70%;
    min-height: 30rem;
    background-color: white;
    margin: 5% 15% 0 15%;
    box-shadow: 0 0 5px black;
    box-sizing: border-box;
    padding: 2rem;
}

.Other > h1,h2,h3,h4,h5,h6,p {
    color : black;
}

@media screen and (max-width:600px) {
    .Other {
        width:90%;
        margin:5%;
    }
}